{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/myaccount/profile.css' %}">
    <script src="{% static 'scripts/myaccount/line_oauth.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="window">
    <div class="form-wrapper">
         
        <form method="post" action="" enctype="multipart/form-data">
                 {% csrf_token %}
                 {% for field in form %}
                     
            <div class="field-wrapper">
                       {{ field.errors }}
                       {{ field.label_tag }} {{ field }}
                       {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                       {% endif %}
                         
            </div>
                   {% endfor %}

            <div class="button-wrapper submit">
                <input class="btn btn-primary" type="button" value="綁定Line通知" onclick="get_line_api_key()"/>
                        <input class="btn btn-primary" type="submit" value="更新個人資料"/>
                     
            </div>
             
        </form>
    </div>


{% endblock %}
</div>
